<!-- Directly showing details of musics from trends-->
<div class="container-fluid d-flex flex-wrap my-2" *ngFor="let music of musiclistTrend">
  <img src="{{music.music.image[3]['#text']}}"class="col-6" alt="...">
  <div class="col-6">
      <h2 class="col-12">Name of Track : {{music.music.name}}</h2>
  
  
      <h2 class="col-12">Artist : {{music.music.artist.name}}</h2>
      <h2>Listeners : {{music.music.listeners}}</h2>
  
  <div class="card-body col-12">
    <button class="btn btn-outline-primary mx-2" (click)="addToFavFromTrend(music.music)">Add to Favourite</button>
  </div>
</div>
</div>

<!-- Showing details After Searching in Trends -->
<div class="container-fluid d-flex flex-wrap my-2" *ngFor="let music of musiclistSearch">
  <img src="{{music.music.image[3]['#text']}}"class="col-6" alt="...">
  <div class="col-6">
      <h2 class="col-12">Name of Track : {{music.music.name}}</h2>
  
  
      <h2 class="col-12">Artist : {{music.music.artist}}</h2>
      <h2>Listeners : {{music.music.listeners}}</h2>
  
  <div class="card-body col-12">
    <button class="btn btn-outline-primary mx-2" (click)="addToFavFromSearch(music.music)">Add to Favourite</button>
  </div>
</div>
</div>
<div class="container-fluid d-flex flex-wrap my-2" *ngFor="let music of musiclistFavSearch">
  <img src="{{music.music.image[3]['#text']}}"class="col-6" alt="...">
  <div class="col-6">
      <h2 class="col-12">Name of Track : {{music.music.name}}</h2>
  
  
      <h2 class="col-12">Artist : {{music.music.artist}}</h2>
      <h2>Listeners : {{music.music.listeners}}</h2>
  
  <div class="card-body col-12">
    <button class="btn btn-outline-primary mx-2" (click)="removeFromFavSearch(music)">Remove from Favourite</button>
  </div>
</div>
</div>




<div class="container-fluid d-flex flex-wrap my-2" *ngFor="let music of musiclistFavTrend">
<img src="{{music.music.image[3]['#text']}}"class="col-6" alt="...">
<div class="col-6">
    <h2 class="col-12">Name of Track : {{music.music.name}}</h2>


    <h2 class="col-12">Artist : {{music.music.artist.name}}</h2>
    <h2>Listeners : {{music.music.listeners}}</h2>

<div class="card-body col-12">
  <button class="btn btn-outline-primary mx-2" (click)="removeFromFavTrend(music)">Remove from Favourite</button>
</div>
</div>
</div>