
<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container" >
    <a href="#" class="logo">MUSI<span style="color:red">XX</span></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="font" routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="#home" class="font" routerLink="/favs" routerLinkActive="active"><i class="fa fa-star"></i> Favourites</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

