<div class="container-fluid d-flex flex-wrap my-2">
  <!-- from search -->

   <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" *ngFor="let music of musiclist">
    <img src="{{music.music.image[3]['#text']}}"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{music.music.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Artist : {{music.music.artist}}</li>
      <li class="list-group-item">Listeners : {{music.music.listeners}}</li>
    </ul>
    <div class="card-body">
      <!-- <a  class="btn btn-outline-success mx-2" (click)='showDetailSearch(music.music)'>Details</a> -->
      <button class="btn btn-outline-primary mx-2" (click)="remove(music.id)" routerLink='/favs'>Remove</button>
    </div>
  </div> 
  <!-- search end -->

  
  <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" *ngFor="let music of musiclistrend">
    <img src="{{music.music.image[3]['#text']}}"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{music.music.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Artist : {{music.music.artist.name}}</li>
      <li class="list-group-item">Listeners : {{music.music.listeners}}</li>
    </ul>
    <div class="card-body">
      <!-- <a  class="btn btn-outline-success mx-2" (click)="showDetailTrend(music.music)">Details</a> -->
      <button class="btn btn-outline-primary mx-2" (click)="removeTrend(music.id)" routerLink='/favs'>Remove</button>
    </div>
  </div>
</div>
