     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-1 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-6 font-weight-normal">Music -> <span style="color:red">Life</span> -> Music</h1>
       <form class="form-inline" #formid="ngForm">
        <input type="text" class="form-control col-sm-12 text-center"  #text id="text" placeholder="Search for dream" >
          <button type="submit" class="form-control btn nav-link" (click)='Onclick(text.value)'></button>
        </form>
    </div>
     <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="container-fluid">
    <h2>Trending Music</h2>
    <div class=" d-flex flex-wrap mx-4">
      <div class="card col-sm-12 col-md-4 col-lg-3 mb-2 " style="width: 18rem;" *ngFor="let music of ListOfMusic">
        <img src="{{music.image[3]['#text']}}"class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{music.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Artist : {{music.artist.name}}</li>
          <li class="list-group-item">Listeners : {{music.listeners}}</li>
        </ul>
        <div class="card-body">
          <button class="btn btn-outline-info mx-2" (click)="showDetail(music)">Details</button>
          <button class="btn btn-outline-primary mx-2" (click)="addToFavsfromTrend(music)">Add to favourite</button>
        </div>
      </div>
    </div>
    </div>
  <!-- #formid="ngForm" -->